*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav{
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    background-image: linear-gradient(#000, #000);
}

nav ul{
    text-align: center;
}

nav li{
    display: inline-block;
    list-style: none;
}

nav li a{
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 30px;
    color: #fff;
    text-decoration: none;
}

nav li a:hover{
    color: red;
    transition: all 0.4s;
}

.info h1{
    font-size: 75px;
    font-family:'Times New Roman', Times, serif;
    color: rgb(36,32,30);
    text-align: center;
    align-items: center;
    margin-left: 10%;
}
.info h3{
    font-size: 15px;
    color: rgb(36,32,30);
    text-align: center;
    margin-left: 10%; 
    margin-top: 25%;
    letter-spacing: 2px;
}
.info h5{
    font-size: 15px;
    text-align: center;
    margin-left: 10%;
    margin-top: 3%;
    letter-spacing: 2px;
}

.info img{
    text-align: center;
    margin-left: 40%;
    margin-top: 30px;
}
.info h2{
    font-size: 40px;
    text-align: center;
    margin-left: 10%;
    margin-top: 10%;
}
.quote img{
    text-align: center;
    margin-left: 52%;
    margin-top: 40px;
}
.info p{
    text-align: center;
    margin-left: 10%;
    margin-top: 5%;
    word-spacing: 2px;
    line-height: 30px;
    color: gray;
}
.sign img{
    text-align: center;
    margin-left: 35%;
    margin-top: 20px;
}
.icons{
    margin: auto;
    text-align: left;
}
.icons img {
    margin-top: 50px;
    text-align: center;
    margin-left: 50%;
}
.icons h3{
    margin-top: 50px;
    letter-spacing: normal;
}

.app h2{
    font-size: 30px;
}
.app img{
    margin-top: 90px;
    margin-left: 50%;
}
.app h3{
    letter-spacing: 0;
    font-size: 20px;
    margin-top: 40px;
}
.app h4{
    letter-spacing: 1px;
    color: gray;
    margin-left: 10%;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
}
.blog h3{
    font-size: 20px;
    letter-spacing: normal;
    margin-top: 90px;
}
.blog img{
    margin-top: 50px;
    /* display: flex; */
}
.blog h5{
    margin-left: 40%;
    text-align: left;
    letter-spacing: normal;
}
.blog p{
    margin-left: 40%;
    text-align: left;
}
.image{
    width: 25%;
    height: 60%;
    position: fixed;
    right: 60px;
    bottom: 0;
}

.image img{
    position: absolute;
    height: 150%;
    left: 40%;
    transform: translate(-50%);
    bottom: 0;   
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 22px 44px;
    font-size: 12px;
    letter-spacing: 2px;
    margin-left: 40%;
    margin-top: 60px;
    background: #f44336;
    position: relative;
    cursor: pointer;
    transition: cubic-bezier(0,0,.3642,1);
    font-weight: 600;
    align-items: center;
}
.hero-btn:hover{
    border: 5px solid #f44336;
    background: #f44336;
}


@media screen and (max-width:400px){
    .image{
        display: none;
    }
    .info h1{
        font-size: 55px;
        margin-left: 50%;
    }
    .info h3{
        font-size: 15px;
        text-align: center;
        margin-left: 40%; 
        margin-top: 55%;
        letter-spacing: 2px;
        align-items: center;
    }
    .info h5{
        font-size: 13px;
        margin-left: 70%;
        margin-top: 20%;
        letter-spacing: 2px;
    }
    .info h2{
        font-size: 20px;
        /* margin-left: 60%; */
        margin-top: 20%;
        
    }
    .quote img{
        text-align: center;
        margin-left: 67%;
        margin-top: 40px;
    }
    
}
